.jslider-wrapper{
    max-width:100%;
    overflow:hidden;
}
.jslider-item{
    position:relative;
    overflow:hidden;
    display:flex;
    align-items:center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    img{
        width:100%;
        height:auto;
        position: absolute;
        top:-100%; left:0; right: 0; bottom:-100%;
        margin: auto;
    }
    .jslider-content{
        position:absolute;
        text-align:center;
        display:flex;
        align-items:center;
        justify-content: center;
        flex-direction: column;
        width:100%;
        height:100%;
        top:0px;
        left:0px;
    }
}

@keyframes jslider-show-opacity {
    0%      { opacity:0; }
    100%    { opacity:1; }
}
@keyframes jslider-show-from-top {
    0%      { opacity:0; transform: translateY(-100%); }
    10%    { opacity:1; }
    100%    { opacity:1;transform: translateY(0%); }
}
@keyframes jslider-show-from-left {
    0%      { opacity:0; transform: translateX(-100%); }
    10%    { opacity:1; }
    100%    { opacity:1;transform: translateX(0%); }
}
@keyframes jslider-show-scale {
    0%      { opacity:0; transform: scale(0%); }
    10%    { opacity:1; }
    100%    { opacity:1;transform: scale(100%); }
}

/** PREMADES **/
.jslider-item{
    @for $i from 1 through 50 {
        .jslider-opacity-#{$i*50}ms{
            opacity:0;
            animation: jslider-show-opacity 500ms;
            animation-delay: #{$i*50}ms;
            animation-fill-mode: forwards;
        }
        .jslider-from-top-#{$i*50}ms{
            opacity:0;
            animation: jslider-show-from-top 500ms;
            animation-delay: #{$i*50}ms;
            animation-fill-mode: forwards;
        }
        .jslider-from-left-#{$i*50}ms{
            opacity:0;
            animation: jslider-show-from-left 500ms;
            animation-delay: #{$i*50}ms;
            animation-fill-mode: forwards;
        }
        .jslider-scale-#{$i*50}ms{
            opacity:0;
            animation:  jslider-show-scale 500ms;
            animation-delay: #{$i*50}ms;
            animation-fill-mode: forwards;
        }
    }
}