.jslider-wrapper{
    max-width:100%;
    overflow:hidden;
}
.jslider-item{
    position:relative;
    overflow:hidden;
    display:flex;
    align-items:center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    img{
        width:100%;
        height:auto;
        position: absolute;
        top:-100%; left:0; right: 0; bottom:-100%;
        margin: auto;
    }
    .jslider-content{
        position:absolute;
        text-align:center;
        display:flex;
        align-items:center;
        justify-content: center;
        width:100%;
        height:100%;
        top:0px;
        left:0px;
    }
}